<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>三方登陆&amp;分享.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3BF55751E543A59008F7999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF558E1E543A59008F7999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF55991E543A59008F7999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
